@import '~base/variables';

.addmessage {
  margin: 24px 0 0 0;
}

.form {
  margin: 0;
  text-align: center;
}

.input {
  display: block;
  font-family: $font-default;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid $grey;
  color: $grey;
  height: 24px;
  margin: 0 auto 10px auto;
  text-align: center;
  width: 144px;
}

.button {
  display: none;
}
