@import '~base/variables';

.message-list {
  height: 36vh;
  margin: 0 auto;
  max-width: 420px;
  overflow: scroll;
  width: 100%;
}

.message {
  composes: message from '../composers/message';
  color: $black;
  text-align: left;
}

.message--from-user {
  composes: message from '../composers/message';
  color: $grey;
  text-align: right;
}

@media (min-width: 600px) {

.message-list {
  padding: 0 36px;
}

}
