@import '~base/variables';

.quote {
  color: $subtle-grey;
  display: block;
  font-family: $font-fixed;
  font-size: 12px;
  height: 24vh;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}

.quote-svg {
  width: 100%;
}
