@import '~base/variables';

.quote {
  bottom: 0;
  color: $subtle-grey;
  display: block;
  font-family: $font-fixed;
  font-size: 12px;
  height: 120px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
}
