.addMessage {
  margin-top: 60px;
}

.form {
  margin: 24px 0 0 0;
  text-align: center;
}

.input {
  display: block;
  font-size: 24px;
  font-weight: 200;
  background-color: transparent;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid white;
  color: white;
  height: 36px;
  margin: 0 auto 10px auto;
  text-align: center;
  width: 360px;
}

.button {
  background-color: grey;
  color: white;
  border-radius: 0;
  border: none;
  padding: 8px 12px;
  text-transform: uppercase;
}
