.message {
  color: #7ac6ff;
  font-size: 14px;
  font-weight: 300;
  margin: 0 auto 4px auto;
  max-width: 80%;
  text-align: center;
  width: 360px;
}

.message--from-user {
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin: 0 auto 4px auto;
  max-width: 80%;
  text-align: center;
  width: 360px;
}
