@import url('https://fonts.googleapis.com/css?family=Assistant:200,400');

body {
  background-color: black;
  color: white;
  font-family: 'Assistant', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
