@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400|Inconsolata:400,700');

$font-default: 'Assistant', sans-serif;
$font-fixed: 'Inconsolata', monospace;
$font-h: 'Assistant', sans-serif;

$black: rgba(0, 0, 0, 0.87);
$grey: rgba(0, 0, 0, 0.54);
$subtle-grey: rgba(0, 0, 0, 0.38);
